<!Doctype html>
<html>
<head>
  <title>template</title>  
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
    <nav>
        <ul>
        <li><a hef="">Home</a></li>
            <li><a hef="">Link 1</a></li>
            <li><a hef="">Link 2</a></li>
            <li><a hef="">Link 3</a></li>
            <li><a hef="">Link 4</a></li>
        </ul>
        </nav>
    <section class="sec-1">
        <div class="text">
        <p>START PAGE</p><br>
        <p class="p1">Templates by w3.css</p><br>
        <button class="btn">Get  Started</button>
    </div>
        </section>
    <section class="sec-2"><br><br>
        <p class="p2">Lorem Ipsum</p><br><br>
        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br><br>
        <p class="p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <br>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut <br>aliquip ex ea commodo consequat. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa <br>qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
            <i class="fa fa-anchor" style="font-size:48px;color:red"></i>
    </section>
    <section class="sec-3"><br><br><br>
        
        <p class="p2">Lorem Ipsum</p><br><br>
        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <br>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p><br><br>
        <p class="p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <br>et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut <br>aliquip ex ea commodo consequat. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa <br>qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor<br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br> ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
            <i class="fa fa-coffee" style="font-size:48px;color:red"></i>
    </section>
    <section>
        <div class="quote">
            <p>Quote of the day:live life</p>
        </div>
    </section>
    <footer>
        <div class="center">
        <i style="font-size:24px" class="fa">&#xf230;</i>
        <i style="font-size:24px" class="fa">&#xf16d;</i>
        <i class="fa fa-snapchat-square" style="font-size:24px"></i>
        <i class="fa fa-pinterest-p" style="font-size:24px"></i>
        <i class="fa fa-twitter" style="font-size:24px"></i>
        <i class="fa fa-linkedin" style="font-size:24px"></i>
        </div>

    </footer>
    </body>
</html>